ol{
  font-size: small;
}

li{
  margin-bottom: 10px; 
}

form div{
  margin-top: 10px; 
}

.scroll-container {
  height: 200px; /* Adjust height as needed */
  width: 300px;
  overflow-y: auto;
  /* commenting the below code as the border is displaying differently when it used with box class*/
  /* border: 1px solid #ddd; Optional border for styling */
}

header,p{
  font-weight:bold;
}